@import model.PostResource
@(posts: List[PostResource])
@main("Posts"){
@for(post <- posts){
<div class="col-md-12">
  <div class="card flex-md-row mb-4 shadow-sm h-md-250">
    <div class="card-body d-flex flex-column align-items-start">
      <strong class="d-inline-block mb-2 text-primary">placeholder tag name possible</strong>
      <h3 class="mb-0">
        <a class="text-dark" href="@routes.PostController.show(post.getId)">@post.getTitle</a>
      </h3>
      <div class="mb-1 text-muted">Nov 12 date Placeholder</div>
      <p class="card-text mb-auto">@post.getBody</p>
      <a href="@routes.PostController.show(post.getId)">Continue reading</a>
    </div>
  </div>
</div>
}

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="@routes.PostController.page(1)">1</a></li>
    <li class="page-item"><a class="page-link" href="@routes.PostController.page(2)">2</a></li>
    <li class="page-item"><a class="page-link" href="@routes.PostController.page(3)">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
}


