@import model.PostResource
@(resource: PostResource, isAuth: Boolean)
@main("Posts") {
<div class="row">
  <div class="col-md-8 blog-main">
    <h3 class="pb-3 mb-4 font-italic border-bottom">
      Some additional placeholder
    </h3>

    <div class="blog-post">
      <h2 class="blog-post-title">@resource.getTitle</h2>
      <p class="blog-post-meta">placeholder for data <a href="#">placeholder for name</a></p>
      <p>@resource.getBody</p>


    </div><!-- /.blog-post -->

    @if(isAuth){
    <p><a href="@routes.PostController.edit(resource.getId)">edit</a></p>
}
  </div>

</div>
}
